<h1 class="text-center mt-5" style="color: #1275b3">نوعي</h1>
<section id="work-samples" class="py-5 my-5" style="width:auto ;">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="work-sample text-center">
          <!-- <a href="https://drive.google.com/file/d/1Cpf1J8ybQoU71i-44LUtlqcWyI3c6-44/view"
                      target="_blank"> </a> -->
          <iframe
            src="https://drive.google.com/file/d/1Cpf1J8ybQoU71i-44LUtlqcWyI3c6-44/preview"
            frameborder="0"
            width="560"
            height="315"
          ></iframe>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6" style="width:auto ;">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/L_gqXdKy40M"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        >
        </iframe>
      </div>
    </div>
  </div>
</section>

<div class="seperator my-5"></div>

<h1 class="text-center mt-5" style="color: #1275b3">مبادرة</h1>
<section id="work-samples" class="py-5 my-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 " style="width:auto ;">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/L_gqXdKy40M"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        >
        </iframe>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6" style="width:auto ;">
        <div class="work-sample text-center">
          <!-- <a href="https://drive.google.com/file/d/1Cpf1J8ybQoU71i-44LUtlqcWyI3c6-44/view"
                      target="_blank"> </a> -->
          <iframe
            src="https://drive.google.com/file/d/1Cpf1J8ybQoU71i-44LUtlqcWyI3c6-44/preview"
            frameborder="0"
            width="560"
            height="315"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="seperator my-5"></div>

<h1 class="text-center mt-5" style="color: #1275b3">فاعلية</h1>
<section id="work-samples" class="py-5 my-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6" style="width:auto ;">
        <div class="work-sample text-center">
          <!-- <a href="https://drive.google.com/file/d/1Cpf1J8ybQoU71i-44LUtlqcWyI3c6-44/view"
                      target="_blank"> </a> -->
          <iframe
            src="https://drive.google.com/file/d/1Cpf1J8ybQoU71i-44LUtlqcWyI3c6-44/preview"
            frameborder="0"
            width="560"
            height="315"
          ></iframe>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6" style="width:auto ;">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/L_gqXdKy40M"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        >
        </iframe>
      </div>
    </div>
  </div>
</section>
