<!-- <div class="container-xxl py-5">
  <div class="container">
    <div class="text-center mx-auto" style="max-width: 500px">
      <h1 class="display-6 mb-5">
        We Provide professional Insurance Services
      </h1>
    </div>
    <div class="row g-4 justify-content-center">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item rounded h-100 p-5">
          <div class="d-flex align-items-center ms-n5 mb-4">
            <div
              class="service-icon flex-shrink-0 bg-primary rounded-end me-4"
            >
              <img
                class="img-fluid"
                src="img/icon/icon-10-light.png"
                alt=""
              />
            </div>
            <h4 class="mb-0">Life Insurance</h4>
          </div>
          <p class="mb-4">
            Aliqu diam amet eos erat ipsum et lorem et sit, sed stet lorem
            sit clita duo justo erat amet
          </p>
          <a class="btn btn-light px-3" href="">Read More</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item rounded h-100 p-5">
          <div class="d-flex align-items-center ms-n5 mb-4">
            <div
              class="service-icon flex-shrink-0 rounded-end me-4 bg-primary"
            >
              <img
                class="img-fluid"
                src="img/icon/icon-01-light.png"
                alt=""
              />
            </div>
            <h4 class="mb-0">Health Insurance</h4>
          </div>
          <p class="mb-4">
            Aliqu diam amet eos erat ipsum et lorem et sit, sed stet lorem
            sit clita duo justo erat amet
          </p>
          <a class="btn btn-light px-3" href="">Read More</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item rounded h-100 p-5">
          <div class="d-flex align-items-center ms-n5 mb-4">
            <div
              class="service-icon flex-shrink-0  rounded-end me-4 bg-primary"
            >
              <img
                class="img-fluid"
                src="img/icon/icon-05-light.png"
                alt=""
              />
            </div>
            <h4 class="mb-0">Home Insurance</h4>
          </div>
          <p class="mb-4">
            Aliqu diam amet eos erat ipsum et lorem et sit, sed stet lorem
            sit clita duo justo erat amet
          </p>
          <a class="btn btn-light px-3" href="">Read More</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item rounded h-100 p-5">
          <div class="d-flex align-items-center ms-n5 mb-4">
            <div
              class="service-icon flex-shrink-0 rounded-end me-4 bg-primary"
            >
              <img
                class="img-fluid"
                src="img/icon/icon-08-light.png"
                alt=""
              />
            </div>
            <h4 class="mb-0">Vehicle Insurance</h4>
          </div>
          <p class="mb-4">
            Aliqu diam amet eos erat ipsum et lorem et sit, sed stet lorem
            sit clita duo justo erat amet
          </p>
          <a class="btn btn-light px-3" href="">Read More</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item rounded h-100 p-5">
          <div class="d-flex align-items-center ms-n5 mb-4">
            <div
              class="service-icon flex-shrink-0  rounded-end me-4 bg-primary"
            >
              <img
                class="img-fluid"
                src="img/icon/icon-07-light.png"
                alt=""
              />
            </div>
            <h4 class="mb-0">Business Insurance</h4>
          </div>
          <p class="mb-4">
            Aliqu diam amet eos erat ipsum et lorem et sit, sed stet lorem
            sit clita duo justo erat amet
          </p>
          <a class="btn btn-light px-3" href="">Read More</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item rounded h-100 p-5">
          <div class="d-flex align-items-center ms-n5 mb-4">
            <div
              class="service-icon flex-shrink-0  rounded-end me-4 bg-primary"
            >
              <img
                class="img-fluid"
                src="img/icon/icon-06-light.png"
                alt=""
              />
            </div>
            <h4 class="mb-0">Property Insurance</h4>
          </div>
          <p class="mb-4">
            Aliqu diam amet eos erat ipsum et lorem et sit, sed stet lorem
            sit clita duo justo erat amet
          </p>
          <a class="btn btn-light px-3" href="">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <section id="team" class="team section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title text-center">
      <h2 class="mt-5">فريق الدعم</h2>
      <p class="mb-5">
        Ut possimus qui ut temporibus culpa velit eveniet modi omnis est
        adipisci expedita at voluptas atque vitae autem.
      </p>
    </div>

    <div class="row margin-auto">
      <div
        class="col-lg-6 col-md-12 d-flex align-items-stretch"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="member">
          <div class="member-img">
            <img
              src="../../../../assets/images/slider1.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="member-info text-center">
            <h1 style="color: #1275b3;" >Walter White</h1>
            <h3>Chief Executive Officer</h3>
          </div>
        </div>
      </div>

      <div
        class="col-lg-6 col-md-12 d-flex align-items-stretch"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="member">
          <div class="member-img">
            <img
              src="../../../../assets/images/slider1.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="member-info text-center">
            <h1 style="color: #1275b3;">Walter White</h1>
            <h3>Chief Executive Officer</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->


  <div>
    <div class="text-center">
      <h2 class="mt-5">فريق الدعم</h2>
      <p>
        Ut possimus qui ut temporibus culpa velit eveniet modi omnis est
        adipisci expedita at voluptas atque vitae autem.
      </p>
    </div>
  </div>


<section  dir="rtl">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-5 mt-5">
              <div class="row">
                  <div class="col-12">
                      <div class="info-box">
                          <img src="" alt="">
                          <div class="ms-4">
                             <h2>   الاسم:  دولاجي باقي  </h2>
                             <div class="seperator my-5">
                            </div>

                             <h4>  الوظيفة :  مهندسة برمجيات  </h4>

                          </div>
                      </div>
                  </div>

              </div>
          </div>
          <div class="col-lg-5">
              <img style="border-radius:10px ;" src="../../../../assets/images/e.jpg" alt="">
          </div>
      </div>
  </div>
</section>


<section  dir="rtl">
  <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <img style="border-radius:10px ;" src="../../../../assets/images/e.jpg" alt="">
      </div>
          <div class="col-lg-5 mt-5">
              <div class="row">
                  <div class="col-12">
                      <div class="info-box">
                          <img src="" alt="">
                          <div class="ms-4">
                             <h2>   الاسم:  دولاجي باقي  </h2>
                             <div class="seperator my-5">
                            </div>

                             <h4>  الوظيفة :  مهندسة برمجيات  </h4>

                          </div>
                      </div>
                  </div>

              </div>
          </div>

      </div>
  </div>
</section>
